*.log
*.err
*.out
*.pyc
*.swp
.idea/*
**/__pycache__/*
**/output/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg-info/
checkpoint
*.pth
*.ckpt
*_cache
.cache
data
save
.eggs
eggs/
*.egg
.DS_Store
.vscode/*
*.so
AAAI
Ablation
Ablation_new
acm_mm
attention_data
attention_ocr_scores
attention_scores
draw_vis_example
image_vis
pythia.egg-info
show_ocr_token
xxx
*.slurm
a_soft_label
jobs/*
hand_over